 {% assign year_from = site.posts[-1].date | date: '%Y' %}
    {% assign year_to   = site.time | date: '%Y' %}
    {% if year_from == nil or year_from == year_to %}
      {% assign year_string = year_from %}
    {% else %}
      {% assign from_to_seperator = site.data.strings.from_to_seperator | default: '-' %}
      {% assign year_string = year_from | append: '&nbsp;' | append: from_to_seperator | append: '&nbsp;' | append: year_to %}
    {% endif %}
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
          <p>{{ site.title | escape }}</p>

           <p><small class="copyright">
               {{ site.copyright | markdownify | replace:'<!--copyyears-->',year_string | replace:'<p>','' | replace:'</p>','' }}
           </small></p>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>